[submodule "lib/gamer.asset.net"]
	path = lib/gamer.asset.net
	url = git@github.com:libcs/gamer.asset.net.git
[submodule "lib/GameNetCore"]
	path = lib/GameNetCore
	url = git@github.com:bclnet/GameNetCore.git
[submodule "src/Formats/Nif/src/Niftools/kfmxml"]
	path = src/Formats/Nif/src/Niftools/kfmxml
	url = git@github.com:niftools/kfmxml.git
[submodule "src/Formats/Nif/src/Niftools/nifxml"]
	path = src/Formats/Nif/src/Niftools/nifxml
	url = git@github.com:niftools/nifxml.git
