# Visual Studio
*.db
*.opendb
*.csproj.user
.vs
.vscode
packages/
packages.config

# Unity3D
Library/
UnityGenerated/
DerivedData/
Assets/AssetStoreTools*
Assets/_*
Logs/
*.pidb.meta
sysinfo.txt
*.apk
*.unitypackage
UIElementsSchema/

# Unity3D Plugins
**/Assets/Plugins/**/*

# Makefiles
Makefile
*.make

# Misc
*.7z
*.zip
*.tar.gz

# Sublime text
*.sublime-project
*.sublime-workspace

# Directories we don't ever want to commit
bin
obj
temp
ipch