<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.7.1"/>
    <httpRuntime targetFramework="4.7.1"/>
    <customErrors mode="Off"/>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <!--<add name="CompressTextureModule" type="Gamer.Core.CompressTextureModule, Gamer.Core.Web" preCondition="runtimeVersionv4.0"/>-->
    </modules>
    <directoryBrowse enabled="true" />
    <staticContent>
      <mimeMap fileExtension=".*" mimeType="application/octet-stream" />
    </staticContent>
  </system.webServer>
</configuration>
