<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <appSettings>
    <add key="ProxyHost" value="127.0.0.1" />
  </appSettings>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" throwExceptions="true">
    <targets>
      <target name="asyncDefault" xsi:type="AsyncWrapper" overflowAction="Grow">
        <target xsi:type="File" name="Default"
                layout="[${longdate}] [${logger}] [${level:uppercase=true}] : ${message}${onexception:${newline}EXCEPTION\: ${exception:format=ToString}}"
                fileName="${basedir}\..\_Secure\logs\ISOBAR.UnanetService.app.log" keepFileOpen="false"
                archiveFileName="${basedir}\..\_Secure\logs\ISOBAR.UnanetService.app.${shortdate}.{##}.log" archiveNumbering="Sequence" archiveEvery="Day" maxArchiveFiles="30" />
      </target>
    </targets>
    <rules>
      <logger name="*" writeTo="Default" minlevel="Debug" />
    </rules>
  </nlog>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="SpecifiedPickupDirectory">
        <specifiedPickupDirectory pickupDirectoryLocation="C:\inetpub\mailroot\Pickup" />
      </smtp>
    </mailSettings>
  </system.net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
</configuration>